{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Good Game Quiz
{% endblock %}

{% block header %}

	<img src="{{ asset('build/images/ggquiz-logo.png') }}" alt="Good Game Quizz" class="ggq-logo">
{% endblock %}

{% block body %}
	<main class="container text-center">
		<h1>
			{% if app.user %}
				Happy to see you here
				<span class="pseudo">{{ app.user.pseudo }},
				</span>
				<br>
			{% endif %}
			Have a
			<span class="text-primary">Good Game</span>
			!
		</h1>
		{% if is_granted("ROLE_ADMIN")%}
			<a href="{{ path('app_admin') }}">
				<button class="btn btn-primary">ADMINISTRATION</button>
			</a>
		{% else %}
			<a href="{{ path('app_quiz_list') }}">
				<button class="btn btn-primary">JOUER</button>
			</a>
		{% endif %}
	</main>
	<footer>
		<div>
			<p>
				{% if app.user %}
					<a href="{{ path('app_logout') }}">Se déconnecter</a>
				{% else %}
					<a href="{{ path('app_login') }}">S'identifier</a>
					|
					<a href="{{ path('app_register') }}">S'inscrire</a>
				{% endif %}
			</p>
		</div>
	</footer>
{% endblock %}
