{% extends 'base.html.twig' %}

{% block title %}Quiz
	{{ quiz.name }}
	| Question n°{{ question.number }}
{% endblock %}

{% block header %}
	{% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}
	<main class="container quiz-question p-0 text-center">
		<div class="row justify-content-center m-auto">
			<div class="col-10">
				<p class="quiz-pagination">{{ question.number }}
					/
					{{ quiz.questions|length }}
				</p>
			</div>
		</div>
		<div class="row justify-content-center m-auto">
			<div class="col-10">
				<h1 class="mt-0">{{ question.question }}</h1>
			</div>
		</div>
		{% if question.picture %}
			<div class="row justify-content-center m-auto">

				<div class="col-10">
					<img class="question-picture" src="{{ asset('build/images/' ~ question.picture) }}" alt="{{ question.answer1 }}">
				</div>
			</div>
		{% endif %}
		<div class="row colored-options justify-content-center m-auto">
			<div class="col-10 col-lg-5 option blue" id="answer1">{{ question.answer1 }}</div>
			<div class="col-10 col-lg-5 option red" id="answer2">{{ question.answer2 }}</div>
			<div class="col-10 col-lg-5 option green" id="answer3">{{ question.answer3 }}</div>
			<div class="col-10 col-lg-5 option yellow" id="answer4">{{ question.answer4 }}</div>
			<div class="d-none" id="correct-answer">{{ question.correctAnswer }}</div>
		</div>
		{% if next_question is defined %}
			<div class="row justify-content-center m-auto">
				<div class="col-10">
					<a href="{{ path('app_quiz_question', {'quizId': quiz.id, 'questionId': next_question.0.id}) }}">
						<button class="btn btn-primary" type="submit">Suivante</button>
					</a>
				</div>
			</div>
		{% else %}
			<div class="row justify-content-center m-auto">
				<div class="col-10">
					<a href="{{ path('app_quiz_result') }}">
						<button class="btn btn-primary" type="submit">Résultats</button>
					</a>
				</div>
			</div>
		{% endif %}
	</main>
{% endblock %}
