{% extends 'base.html.twig' %}

{% block title %}Toutes les Questions
{% endblock %}

{% block header %}
	{% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}
	<main class="admin-pages m-auto">
		<h1>Toutes les Questions</h1>

		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for question in questions %}
					<tr>
						<td>{{ question.question }}</td>
						<td>
							<a href="{{ path('app_question_show', {'id': question.id}) }}">Affichage</a>
							<a href="{{ path('app_question_edit', {'id': question.id}) }}">Édition</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">Aucune question pour le moment...</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('app_question_new') }}">
			<button class="btn btn-primary" type="submit">{{ button_label|default('Nouvelle question') }}</button>
		</a>
		<p>
			<a href="{{ path('app_admin') }}">Administration</a>
		</p>

	</main>
{% endblock %}
