{% extends 'base.html.twig' %}

{% block title %}Liste des questions
{% endblock %}

{% block header %}
	{% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}
	<main class="admin-pages m-auto">
		<h1>Liste des questions</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Numéro</th>
					<th>Question</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for question in questions %}
					<tr>
						<td>{{ question.number }}</td>
						<td>{{ question.question }}</td>
						<td>
							<a href="{{ path('app_question_show', {'id': question.id}) }}">voir</a>
							<a href="{{ path('app_question_edit', {'id': question.id}) }}">modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">aucun enregistrement</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ path('app_question_new') }}">
			<button class="btn btn-primary" type="submit">{{ button_label|default('Nouvelle question') }}</button>
		</a>
	</main>
{% endblock %}
