{% extends 'base.html.twig' %}

{% block title %}Question test
{% endblock %}

{% block header %}
	{% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}
	<main class="container-fluid quiz-question p-0 text-center">
		<h1>{{ question.question }}</h1>
		<div class="row colored-options justify-content-center m-auto">
			<div class="col-12 col-lg-5 option blue">{{ question.answer1 }}</div>
			<div class="col-12 col-lg-5 option red">{{ question.answer2 }}</div>
			<div class="col-12 col-lg-5 option green">{{ question.answer3 }}</div>
			<div class="col-12 col-lg-5 option yellow">{{ question.answer4 }}</div>
		</div>

				<a href="{{ path('app_quiz_question', {'id': next_question.id}) }}">
			<button class="btn btn-primary" type="submit">Suivante</button>
		</a>

		<pre>
			{{ dump(question) }}
		</pre>
	</main>
{% endblock %}
